.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.DS_Store
.idea/
llava-v1.6-mistral-7b-hf/

config/russian_trusted_root_ca*

config/gigachat_ke*

Dockerfile

out/
.tmp_uploads/
*.log

cache/
*.pkl

*.pt