streamlit
langgraph
transformers==4.52.1
ultralytics
#torchreid==1.5.0
torchreid
gigachat==0.1.23
opencv-python==4.8.1.78
pyarrow
numpy==1.26.4
pandas==2.1.4
pydantic
PyYAML
requests
tenacity
pillow
scikit-image
scikit-learn
mediapipe
openai
vllm==0.11.0